<section class="sc-general : sc-calendar">
  <div class="sc-wrapper">

      {# <img src="../../assets/images/calendar/03_title_around_the_desktop.svg" alt="Calendar box" class="calendar__title : calendar__title--desktop" height="100" width="100" />
      <img src="../../assets/images/calendar/03_title_around_the_mobile.svg" alt="Calendar box" class="calendar__title : calendar__title--mobile" hidden height="100" width="100" /> #}

      <!-- START OF: Title -->
      <h2 class="sr-only">{{ calendar.title }}</h2>
      <picture>
        <source media="(min-width: 769px)" srcset="../../assets/images/calendar/03_title_around_the_desktop.svg" />
        <source media="(max-width: 769px)" srcset="../../assets/images/calendar/03_title_around_the_mobile.svg" />
        <img class="calendar__title" src="../../assets/images/calendar/03_title_around_the_mobile.svg" height="173" width="627" alt="{{ calendar.title }}" />
      </picture>
      <!-- END OF: Title -->


      <!-- START OF: Content -->
      <div class="sc-content">

        <!-- START OF: Text -->
        <div class="calendar__text : text">
          <p>{{ calendar.text }}</p>
        </div>
        <!-- END OF: Text -->

        <!-- START OF: CTA -->
        <a href="{{ cta.href }}" class="btn"><span>{{ cta.text }}</span></a>
        <!-- END OF: CTA -->

      </div>
      <!-- END OF: Content -->


  </div>
</section>
