<section class="sc-general : sc-calendar">
  <div class="sc-wrapper">


      <!-- START OF: Title -->
      <h2 class="sr-only">{{ calendar.title }}</h2>
      <picture>
        <source media="(min-width: 769px)" srcset="./assets/images/calendar/around_the_whiskyverse_in_24_days_1920.svg" loading="lazy" />
        <source media="(max-width: 769px)" srcset="./assets/images/calendar/around_the_whiskyverse_in_24_days_375.svg" loading="lazy" />
        <img class="calendar__title" src="./assets/images/calendar/around_the_whiskyverse_in_24_days_375.svg" height="173" width="627" alt="{{ calendar.title }}" loading="lazy" />
      </picture>
      <!-- END OF: Title -->


      <!-- START OF: Content -->
      <div class="sc-content">

        <!-- START OF: Text -->
        <div class="calendar__text : text">
          <p>{{ calendar.text }}</p>
        </div>
        <!-- END OF: Text -->

        <!-- START OF: CTA -->
        <a href="{{ cta.href }}" class="btn"><span>{{ cta.text }}</span></a>
        <!-- END OF: CTA -->

      </div>
      <!-- END OF: Content -->


  </div>
</section>
